.hide {
    display: none;
}

.border {
    border-width: 1px;
}

.card {
    background-color: blue;
    width: 300px;
    height: 150px;
    border: 1px solid blue;
    margin: 5px;
  }

  .boxed {
    border: 1px solid green ;
  }

  h4 {
    padding-left: 14px;
  }

  body {
    margin-bottom: 50px;
  }

  .new {
    background-color: green
  }

  .yellow {
    background-color: yellow;
  }

  .orange {
    background-color: orange;
  }

  .red {
    background-color: red;
  }

  #fiveDay h4 .fivehead {
    margin: 70px;
    background-color: teal;
  }

 *


#fiveDay {
    width: 180px;
    height: 180px;
    background-color: rgb(23, 85, 219);
    border-radius: 10px;
    float:left;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
}

