.hide {
    display: none;
}

.border {
    border-width: 1px;
}

.card {
    background-color: blue;
    border: 1px solid blue;
  }

  .boxed {
    border: 1px solid green ;
  }

  h4 {
    padding-left: 14px;
  }

  body {
    margin-bottom: 50px;
  }

  .new {
    background-color: green
  }

  .yellow {
    background-color: yellow;
  }

  .orange {
    background-color: orange;
  }

  .red {
    background-color: red;
  }


